.rangeColor{
    color: white;
}
a{
    color: white;
}

.centrar-texto
{
    text-align: center;
}
.dropdown-menu{
    background-color:#042556;

}
.right {
    position: absolute;
    right: 0;
    margin-right: 10%;
  }