<nav
  class="justify-content-center navbar navbar-expand-lg navbar-dark bg-sonouno"
>
  <!-- <a class="navbar-brand" href="#">SONOUNO</a> -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <div
        class="nav-item dropdown m-2 mr-3"
        data-toggle="tooltip"
        data-placement="bottom"
        title="INPUT DROPDOWN"
      >
        <div
          class="navlink dropdown-toggle"
          id="INPUT Actions"
          data-toggle="dropdown"
          aria-haspopup="true"
          tabindex="0"
          id="menu-input"
          aria-expanded="false"
        >
          INPUT
        </div>
        <ul
          class="dropdown-menu"
          aria-label="INPUT DROPDOWN "
          id="dropdown-input"
          role="group"
        >
          <li>
            <input
              type="file"
              (change)="onChange($event.target.files)"
              class="nav-link mr-5"
              id="Input-file"
              tabindex="0"
            />
          </li>
        </ul>
      </div>

      <div
        class="nav-item dropdown m-2 mr-3"
        data-toggle="tooltip"
        data-placement="bottom"
        title="OUTPUT DROPDOWN"
      >
        <div
          class="navlink dropdown-toggle"
          id="OUTPUT Actions"
          data-toggle="dropdown"
          aria-haspopup="true"
          tabindex="0"
          id="menu-otuput"
          aria-expanded="false"
        >
          OUTPUT
        </div>
        <ul
          class="dropdown-menu"
          aria-label="OUTPUT DROPDOWN "
          id="dropdown-output"
          role="group"
        >
          <li
            class="btn dropdown-item btn-sonouno"
            tabindex="0"
            (click)="grabarArchivo()"
            id="SaveSound button"
          >
            SAVE SOUND
          </li>
          <li
            class="btn dropdown-item btn-sonouno"
            tabindex="0"
            (click)="descargarMarcadores()"
            id="SaveMarkers button"
          >
            SAVE MARKERS
          </li>
          <li
            class="btn dropdown-item btn-sonouno"
            tabindex="0"
            (click)="guardarImagen()"
            id="SavePlot button"
          >
            SAVE PLOT
          </li>
        </ul>
      </div>

      <div
        class="nav-item dropdown m-2 mr-3"
        data-toggle="tooltip"
        data-placement="bottom"
        title="SAMPLE DATA DROPDOWN"
      >
        <div
          class="navlink dropdown-toggle"
          id="SAMPLE DATA"
          data-toggle="dropdown"
          aria-haspopup="true"
          tabindex="0"
          id="menu-sample-data"
          aria-expanded="false"
        >
          SAMPLE DATA
        </div>
        <ul
          class="dropdown-menu"
          aria-label="Sample Data Dropdown "
          id="dropdown-sample-data"
          role="group"
        >
          <li>
            <button
              type="button"
              tabindex="0"
              aria-label="Glitch"
              class="btn btn-sonouno mt-3"
              (click)="leerSampleData('1')"
            >
              Glitch (1126409678.84375 TS)
            </button>
          </li>
          <li>
            <button
              type="button"
              tabindex="0"
              aria-label="Sloan"
              class="btn btn-sonouno mt-3"
              (click)="leerSampleData('3')"
            >
              Sloan SDSSJ151806
            </button>
          </li>
          <li>
            <button
              type="button"
              tabindex="0"
              aria-label="Ego"
              class="btn btn-sonouno mt-3"
              (click)="leerSampleData('4')"
            >
              EGO noise
            </button>
          </li>
          <li>
            <button
              type="button"
              tabindex="0"
              aria-label="Variable Star"
              class="btn btn-sonouno mt-3"
              (click)="leerSampleData('5')"
            >
              Variable star
            </button>
          </li>
          <li>
            <button
              type="button"
              tabindex="0"
              aria-label="Sinusoidal"
              class="btn btn-sonouno mt-3"
              (click)="leerSampleData('6')"
            >
              Sinusoidal
            </button>
          </li>
          <li>
            <button
              type="button"
              tabindex="0"
              aria-label="Sawtooth"
              class="btn btn-sonouno mt-3"
              (click)="leerSampleData('7')"
            >
              Sawtooth
            </button>
          </li>

          <li>
            <button
              type="button"
              tabindex="0"
              aria-label="Triangle"
              class="btn btn-sonouno mt-3"
              (click)="leerSampleData('8')"
            >
              Triangle
            </button>
          </li>
          
          <li>
            <button
              type="button"
              tabindex="0"
              aria-label="Sawtooth"
              class="btn btn-sonouno mt-3"
              (click)="leerSampleData('9')"
            >
              Square
            </button>
          </li>
          <li>
            <button
              type="button"
              tabindex="0"
              aria-label="Sawtooth"
              class="btn btn-sonouno mt-3"
              (click)="leerSampleData('10')"
            >
              Ramp
            </button>
          </li>
        </ul>
      </div>

      <!--a class="nav-link active mr-5" href="#">DATA DISPLAY</a>
	   <a class="nav-link active mr-5" href="#">DATA OPERATIONS</a>
	   <a class="nav-link active mr-5" href="#">PANELS</a>
	   <a class="nav-link active mr-5" href="#">SETINGS</a-->
      <div
        class="nav-link active float-right"
        data-toggle="tooltip"
        data-placement="bottom"
        title="HELP GUIDE LINK"
        routerLink="/help"
        tabindex="0"
        id="HELP LINK"
      >
        HELP
      </div>

      <div
        class="nav-link active float-right"
        data-toggle="tooltip"
        data-placement="bottom"
        title="QUICKSTART GUIDE LINK"
        routerLink="/quickstart"
        tabindex="0"
        id="QUICKSTART LINK"
      >
        QUICKSTART
      </div>
    </div>
  </div>
</nav>

<plotly-plot
  tabindex="-1"
  focusable="false"
  aria-hidden="true"
  id="grafico"
  [data]="data"
  [layout]="layout"
  (relayout)="zoom()"
  [config]="{displayModeBar: false}">
</plotly-plot>
<div class="row" id="row Reproduction" aria-label="Play Options Row">
  <div class="col-12 text-center mb-5">
    <button
      class="btn btn-sonouno mr-5"
      aria-label="Play Shortcut P"
      (click)="PlayPause()"
      tabindex="0"
    >
      <span style="text-decoration: underline">P</span
      >{{ !play ? "LAY" : "AUSE" }}
    </button>
    <button
      class="btn btn-sonouno mr-5"
      aria-label="Stop Shortcut S"
      (click)="Stop()"
      tabindex="0"
    >
      <span style="text-decoration: underline">S</span>TOP
    </button>
    <button
      class="btn btn-sonouno mr-5"
      aria-label="Add Marker Shortcut M"
      (click)="addMarcador()"
      tabindex="0"
      id="mark point button"
    >
      <span style="text-decoration: underline">M</span>ARK POINT
    </button>
    <button
      class="btn btn-sonouno mr-5"
      aria-label="Delete Marker Shortcut D"
      (click)="deleteMarcador()"
      tabindex="0"
      id="delete mark point button"
    >
      <span style="text-decoration: underline">D</span>ELETE MARK
    </button>
  </div>
</div>

<div class="row mb-5">
  <div class="col-5 bg-range mr-6 p-3 mr-2">
    <div class="form-group">
      <label class="rangeColor" for="formControlRange">ABSCISSA POSITION</label>
      <label class="rangeColor right">{{ indiceGrafico.toFixed(1) }}%</label>

      <input
        type="range"
        class="form-control-range"
        id="Slider Abscisa"
        aria-label="Abscisa Slider"
        [(ngModel)]="indiceGrafico"
        (change)="sliderAbscisa()"
      />
    </div>
  </div>
  <div class="col-1"></div>
  <div class="col-5 bg-range float-right p-3">
    <div class="form-group">
      <label class="rangeColor" for="formControlRange">TEMPO</label>
      <label class="rangeColor right">{{ tempoSlider }}%</label>
      <input
        type="range"
        class="form-control-range"
        id="Slider Tempo"
        aria-label="Tempo Slider"
        [(ngModel)]="tempoSlider"
        (mouseup)="ToolbarPlay()"
      />
    </div>
  </div>
</div>
<div class="row mb-5">
  <div class="col-11 bg-range p-3">
    <button
      class="btn btn-sonouno mt-3"
      type="button"
      data-toggle="collapse"
      data-target="#collapseMathFunctions"
      aria-expanded="false"
      aria-controls="collapseMathFunctions"
    >
      MATH FUNCTIONS
    </button> 
    <div id="collapseMathFunctions" class="collapse">
<div class="col-5">
      <button
        class="btn btn-sonouno mt-3"
        (click)="logarithmicData()"
        id="Logarithmic function button"
        aria-label="Logarithmic function button"
      >
        LOGARITHMIC
      </button></div>
      <div class="col-5">
      <button
        class="btn btn-sonouno mt-3 mb-3"
        (click)="quadraticData()"
        id="Quadratic function button"
        aria-label="Quadratic function button"
      >
        QUADRATIC
      </button></div>
      <div class="row ml-3">
      <button
        class="btn btn-sonouno"
        (click)="smoothData()"
        id="Moving average smoothing button"
        aria-label="Moving average smoothing button"
      >
        SMOOTH
      </button>
      <div class="row ml-3">
        
        <label class="input-group-text ">SMOOTH GATE</label>
        <div class="col5">
          <input
            type="number"
	    value="5"
            class="form-control ml-1"
            placeholder="GATE SMOOTH"
            aria-label="MOVING AVERAGE GATE"
            [(ngModel)]="gate"
          />
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="row mb-5">
  <div class="col-5 bg-range mr-6 p-3 mr-2">
    <button
      class="btn btn-sonouno mt-3"
      type="button"
      data-toggle="collapse"
      data-target="#collapseSoundConfiguration"
      aria-expanded="false"
      aria-controls="collapseSoundConfiguration"
    >
      SOUND CONFIGURATION
    </button>
    <div id="collapseSoundConfiguration" class="collapse">
      <div class="form-check mt-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="Frecuency Mapping"
          aria-label="Frequency Mapping checkbox"
        />
        <label class="form-check-label" for="Frequency Mapping">
          SET FRECUENCY MAPPING
        </label>
      </div>
      <div>
        <div class="form-group mt-3">
          <label class="rangeColor" for="formControlRange"
            >SET MIN FREQUENCY</label
          >
          <label class="rangeColor right">{{ minFreq }} Hz</label>
          <input
            type="range"
            class="form-control-range"
            id="Slider Min Frequency"
            aria-label="Min Frequency Slider"
            [(ngModel)]="minFreqGraph"
            name="minFreq"
            (mouseup)="setMinMax()"
          />
        </div>
      </div>
      <div>
        <div class="form-group mt-3">
          <label class="rangeColor" for="formControlRange"
            >SET MAX FREQUENCY</label
          >
          <label class="rangeColor right">{{ maxFreq }} Hz</label>
          <input
            type="range"
            class="form-control-range"
            id="Slider Max Frequency"
            aria-label="Max Frequency Slider"
            [(ngModel)]="maxFreqGraph"
            name="maxFreq"
            (mouseup)="setMinMax()"
          />
        </div>
      </div>
      <form>
        <div class="form-group mt-4">
          <!-- <label class="rangeColor" for="formControlRange">SOUND CONFIGURATION</label> -->
          <label class="rangeColor" for="formControlRange">Volume</label>
          <label class="rangeColor right">{{ volumen }}%</label>
          <input
            type="range"
            class="form-control-range"
            id="Slider Volume"
            aria-label="Volume slider"
            [(ngModel)]="volumen"
            name="volumen"
            (mouseup)="sliderVolumen()"
          />
        </div>
      </form>

      <div class="form-check mt-3 background-white pt-3 pb-3 pl-5">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label
              class="input-group-text"
              for="inputGroupSelect01"
              id="Select SOUND TYPE"
              >SELECT SOUND TYPE</label
            >
          </div>
          <select
            (change)="seleccionarInstrumento($event.target.value)"
            class="custom-select"
            id="sound type"
            aria-label="Select sound type"
            tabindex="0"
          >
            <option selected value="sine">SINE</option>
            <option value="synthwave">SYNTHWAVE</option>
            <option value="flute">FLUTE</option>
            <option value="piano">PIANO</option>
            <option value="celesta">CELESTA</option>
          </select>
        </div>
      </div>
      <button
        class="btn btn-sonouno mt-3"
        type="button"
        data-toggle="collapse"
        data-target="#collapseAdvancedSoundConfiguration"
        aria-expanded="false"
        aria-controls="collapseSoundConfiguration"
      >
        ADVANCED SOUND CONFIGURATION
      </button>
      <div id="collapseAdvancedSoundConfiguration" class="collapse">
        <button
          class="btn btn-sonouno mt-3"
          type="button"
          data-toggle="collapse"
          data-target="#collapseADSRConfiguration"
          aria-expanded="false"
          aria-controls="collapseSoundConfiguration"
        >
          ADSR
        </button>
        <div id="collapseADSRConfiguration" class="collapse">
          <div class="form-check mt-3">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="Envelope Filter Toggle"
              aria-label="Envelope Filter Checkbox"
              [(ngModel)]="filtroEnabled"
              [ngModelOptions]="{ standalone: true }"
              (change)="sliderADSR()"
            />
            <label class="form-check-label" for="Envelope Filter Toggle">
              SOUND ENVELOPE CONFIG.
            </label>
          </div>

          <form class="mt-5">
            <div class="form-group">
              <label class="rangeColor" for="formControlRange">ATTACK</label>
              <label class="rangeColor right">{{ attack }}</label>
              <input
                type="range"
                class="form-control-range"
                id="Slider Attack"
                aria-label="Attack Slider"
                [(ngModel)]="attack"
                name="attack"
                (mouseup)="sliderADSR()"
              />
            </div>
          </form>
          <form>
            <div class="form-group">
              <label class="rangeColor" for="formControlRange">DECAY</label>
              <label class="rangeColor right">{{ decay }}</label>
              <input
                type="range"
                class="form-control-range"
                id="Slider Decay"
                aria-label="Decay Slider"
                [(ngModel)]="decay"
                name="decay"
                (mouseup)="sliderADSR()"
              />
            </div>
          </form>
          <form>
            <div class="form-group">
              <label class="rangeColor" for="formControlRange">SUSTAIN</label>
              <label class="rangeColor right">{{ sustain }}</label>
              <input
                type="range"
                class="form-control-range"
                id="Slider sustain"
                aria-label="Sustain Slider"
                [(ngModel)]="sustain"
                name="sustain"
                (mouseup)="sliderADSR()"
              />
            </div>
          </form>
          <form>
            <div class="form-group">
              <label class="rangeColor" for="formControlRange">RELEASE</label>
              <label class="rangeColor right">{{ release }}</label>
              <input
                type="range"
                class="form-control-range"
                id="slider Release"
                aria-label="Release Slider"
                [(ngModel)]="release"
                name="release"
                (mouseup)="sliderADSR()"
              />
            </div>
          </form>
        </div>
        <div class="text-center">
          <button
            class="btn btn-sonouno mt-3"
            (click)="logaritmico()"
            id="Logarithmic Scale button"
          >
            SET LOGARITHMIC SCALE
          </button>
          <button class="btn btn-sonouno mt-3" id="Continuous sound button">
            SET CONTINUOUS SOUND
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
  <div class="col-5 bg-range float-right p-3 heigth">
    <button
      class="btn btn-sonouno mt-3"
      type="button"
      data-toggle="collapse"
      data-target="#collapsePlotConfiguration"
      aria-expanded="false"
      aria-controls="collapsePlotConfiguration"
    >
      PLOT CONFIGURATION
    </button>
    <div id="collapsePlotConfiguration" class="collapse">
      <!-- <div class="mt-4 mb-4">PLOT CONFIGURATION</div> -->

      <div class="input-group mt-3 mb-3">
        <label class="input-group-text">GRAPH TITLE</label>
        <input
          type="text"
          class="form-control"
          placeholder="GRAPH TITLE"
          aria-label="Title input"
          [(ngModel)]="graphTitle"
          (keyup)="handleTitles($event, '1')"
        />
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text">ABSCISSA TITTLE</label>
        <input
          type="text"
          class="form-control"
          placeholder="ABSCISSA"
          aria-label="ABSCISSA TITTLE"
          [(ngModel)]="abscissaTitle"
          (keyup)="handleTitles($event, '2')"
        />
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text">ORDINATE TITTLE</label>
        <input
          type="text"
          class="form-control"
          placeholder="ORDINATE"
          aria-label="ORDINATE TITTLE"
          [(ngModel)]="ordinateTitle"
          (keyup)="handleTitles($event, '3')"
        />
      </div>
      <div class="form-check mt-3">
        <input
        [(ngModel)]="displayGrid"
          class="form-check-input"
          type="checkbox"
        
          id="Display Grid"
          aria-label="Display grid checkbox"
          (change)="grid()"
        />
        <label class="form-check-label" for="Display grid">
         DISPLAY GRID
        </label>
      </div>
      <button
        class="btn btn-sonouno mt-3"
        type="button"
        data-toggle="collapse"
        data-target="#collapseAdvancedPlotConfiguration"
        aria-expanded="false"
        aria-controls="collapseSoundConfiguration"
      >

     
        ADVANCED PLOT CONFIGURATION
      </button>
      <div id="collapseAdvancedPlotConfiguration" class="collapse mt-3">
        <div class="form-check mt-3">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="Grid Options Checkbox"
          />
          <label class="form-check-label" for="Grid Options Checkbox">
            GRID OPTIONS
          </label>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >LINE STYLE</label
            >
          </div>
          <select
            (change)="seleccionarTipoLinea($event.target.value)"
            class="custom-select"
            aria-label="Line XSelect"
            id="Line Style"
          >
            <option selected value="solid">SOLID</option>
            <option value="dash">DASH</option>
            <option value="dot">DOT</option>
            <option value="dashdot">DASH-DOT</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >MARKER STYLE</label
            >
          </div>
          <select
            (change)="seleccionarMarkerStyle($event.target.value)"
            class="custom-select"
            aria-label="Marker XSelect"
            id="Marker Style"
          >
            <option value="x">X</option>
            <option value="star-triangle-up">STAR</option>
            <option selected value="">CIRCLE</option>
            <option value="diamond">DIAMOND</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >COLOR STYLE</label
            >
          </div>
          <select
            (change)="seleccionarColorLinea($event.target.value)"
            class="custom-select"
            aria-label="Color XSelect"
            id="inputGroupSelect04"
          >
            <option selected value="#b55400">ORANGE</option>
            <option value="#3B83BD">BLUE</option>
            <option value="#FF3b3b">RED</option>
            <option value="#3bFF3b">GREEN</option>
            <option value="#e0e03b">YELLOW</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="plotly_div" style="width: 1px; height: 1px"></div>
<div id="modalSampleData" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          tabindex="0"
          aria-labelledby="class"
          class="close"
          data-dismiss="modal"
        >
          &times;
        </button>
        <h4 class="modal-title">SAMPLE DATA SELECTION</h4>
      </div>
      <ul style="list-style-type: none" class="modal-body">
        <li>
          <button
            type="button"
            tabindex="0"
            aria-label="Glitch"
            class="btn btn-sonouno mt-3"
            data-dismiss="modal"
            (click)="leerSampleData('1')"
          >
            Glitch (1126409678.84375 TS)
          </button>
        </li>
        <li>
          <button
            type="button"
            tabindex="0"
            aria-label="Sloan"
            class="btn btn-sonouno mt-3"
            data-dismiss="modal"
            (click)="leerSampleData('3')"
          >
            Sloan SDSSJ151806
          </button>
        </li>
        <li>
          <button
            type="button"
            tabindex="0"
            aria-label="Ego"
            class="btn btn-sonouno mt-3"
            data-dismiss="modal"
            (click)="leerSampleData('4')"
          >
            EGO noise
          </button>
        </li>
        <li>
          <button
            type="button"
            tabindex="0"
            aria-label="Variable Star"
            class="btn btn-sonouno mt-3"
            data-dismiss="modal"
            (click)="leerSampleData('5')"
          >
            Variable star
          </button>
        </li>
      </ul>
      <div class="modal-footer">
        <button
          type="button"
          tabindex="0"
          class="btn btn-sonouno mt-3"
          data-dismiss="modal"
        >
          CLOSE
        </button>
      </div>
    </div>
  </div>
</div>
