<nav class="justify-content-center navbar navbar-expand-lg navbar-dark bg-sonouno">
    <!-- <a class="navbar-brand" href="#">SONOUNO</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active mr-5" routerLink="/inicio">SONOUNO</a>
        <a class="nav-link active mr-5" routerLink="/help">HELP</a>        
      </div>
    </div>
  </nav>


    <h1>Quickstart Guide</h1>
        <h2>About the sound</h2>
        <p>SonoUno counts with a default sound configuration, allowing you to load data and start playing the sonified data, if you want, you can always start twinkling around with the different values found in ‘Sound configuration’, allowing you to change the volume, minimum and maximum frequencies or the envelope filter settings.
        </p>
        <h2>About the data</h2>

        <p>To help you get started as fast as possible exploring sonoUno’s capabilities, sonoUno has a set of “Sample Data” under the ‘File’ dropdown menu. This will allow you to see how the data is processed and how the resulting screen looks like at the event of a successful data load.
        </p>
        <h2>About the plot</h2>
        <p>When the page starts you should only see a blank plot and at the instant you load data it will be displayed at it. You can zoom in by clicking and dragging at a section of the graph or using the menu at the top-right corner of the plot. 
            If you want to modify the color or the stroke of the lines, the color or shape of the markers or the tags on the plot you can do it in the ‘Plot configuration’ on the bottom right side of the page.
            </p>
            <h2>About managing data</h2>
            <p>You can add your ‘.csv’ (Comma Separated File) via the ‘Browse…’ option on the ‘File’ dropdown menu. The file can have one or two columns, the first being the Abscissa axis and the second the ordinate, in the case you only provide one column with data, each value would be assigned to the ordinate and an incremental value would be assigned to the abscissa value.</p>
            <h2>About the markers</h2>
            <p>
                Behind the plot you have four buttons, two very self explanatory to play and pause the reproduction of the sound, the ‘Mark point’ allows you to add markers at the point of reproduction of the data, this will be added to an array that you can download at the ‘File’ menu and the ‘Remove mark’ button that allows you to pop the last added mark point.
                </p>