<div class="container centered">
  <div class="row rowCustomizer">
    <div class="col-sm-4">
      <img class="img-fluid" src="assets/sonoUno+.jpg" alt="Sonouno, Bio, ITEDA, CONICET and REINFORCE logos">
    </div>
    <div class="col-lg-8">
      <div class="text-container">

        <h1 i18n="titulo">sonoUno Web Interface</h1>

        <p i18n="descripcion">SonoUno is a sonification software for astronomical data presented on a table, allowing
          the user to configure the generated plot and some features of the sound.</p>
        <div class="d-flex flex-wrap containerButtonesLanding">
          <button i18n="botonesLanding" class="btn btn-sonouno mr-5" [routerLink]="'/home'" tabindex="1"
            id="Home button">HOME</button>
          <button i18n="botonesLanding" class="btn btn-sonouno mr-5" [routerLink]="'/quickstart'" tabindex="1"
            id="Quick start button">QUICK START</button>
        </div>
      </div>
      <div class="text-container configuration">
        <label i18n="labelCheckbox">
          <input type="checkbox" [checked]="skippingLandingPage" (change)="onCheckboxChanged($event)" />
          Do not show this landing page again.
        </label>
      </div>
    </div>

  </div>
</div>