
    <div class="container centered">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid" src="assets/sonoUno.jpg" alt="alternative">
            </div>
            <div class="col-lg-6">
                <div class="text-container">

                    <h1>SONOUNO</h1>

                    <p>SonoUno is a sonification software for astronomical data presented on a table, allowing the  user to configure the generated plot and some features of the sound.</p>
                    <button class="btn btn-sonouno mr-5" [routerLink]="'/inicio'" tabindex="1" id="Home button">HOME</button>
                    <button class="btn btn-sonouno mr-5" [routerLink]="'/quickstart'" tabindex="1" id="Quick start button">QUICK START</button>
                </div>
              <div class="text-container configuration">
                <label>
                  <input type="checkbox" [checked]="skippingLandingPage" (change)="onCheckboxChanged($event)"/>
                  Do not show this landing page again.
                </label>
              </div>
            </div>

        </div>
    </div>

