
body{
    background-color: #8d98a0;
    font-family: 'Nunito', sans-serif;
}

.bg-sonouno{
    background-color:#042556;
    color: white;
}

.btn-sonouno{
    background-color:#042556;
    color: white;
    white-space: nowrap;
}

.btn-sonouno:hover{
    background-color:white;
    color: #042556;
}

.bg-range{
    background-color:#042556;
    color: white;
    border-radius: 10px;
}
.dropdown1:hover>.dropdown-menu {
    display: block;
    margin-top:-200px;
    margin: -0.125rem 0 0;
   }
.achicar{
    display: flex;
    width: 500px;
}
img{
    display: flex;
    width: 1000px;
}
.dropdown-menu1.dropdown-menu{
    margin-top:-75px;
}
.centered {
    position: fixed;
    top: 30%;
  
  }