<nav class="justify-content-center navbar navbar-expand-lg navbar-dark bg-sonouno">
    <!-- <a class="navbar-brand" href="#">SONOUNO</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active mr-5" href="#">FILE</a>
        <a class="nav-link active mr-5" href="#">DATA DISPLAY</a>
        <a class="nav-link active mr-5" href="#">DATA OPERATIONS</a>
        <a class="nav-link active mr-5" href="#">PANELS</a>
        <a class="nav-link active mr-5" href="#">SETINGS</a>
        <a class="nav-link active" href="#">HELP</a>
      </div>
    </div>
  </nav>